$color-primary: #00a39a;
$color-primary-inverted: #ff5c65;
$white: #ffffff;
$black: #000000;

$font-family-default: "Inter", sans-serif;

$title-size-1: 30px;
$title-size-2: 18px;
$text-size-1: 14px;
$text-size-2: 13px;

$title-weight-1: 700;
$title-weight-2: 400;
