.main__section-intro {
  @include flex-box(flex, column, center, center);

  width: 100%;

  gap: 20px;

  border-bottom: 0.6px solid $black;

  .section__image {
    min-width: 100%;
    height: 300px;

    object-fit: cover;
  }
}

.article__container-intro {
  @include flex-box(flex, column, center, flex-start);

  width: 90%;

  margin-bottom: 20px;

  padding: 29px;

  gap: 10px;

  border: 0.6px solid $black;
}

.article__subtitle {
  @include title(20px, 700);
}

.article__span {
  color: $color-primary;
}

.article__description {
  font-size: $text-size-1;
}

.know-more__container {
  width: 90%;

  display: flex;

  gap: 5px;

  .know-more__title {
    @include title(12px, 400);

    padding: 13px 15px;

    border: 1px solid $black;
    border-radius: 31px;
  }

  .know-more__figure {
    @include flex-box(flex, row, center, center);

    padding: 6px 13px;

    border: 1px solid $black;
    border-radius: 50%;
  }
}

.main__section-description {
  @include flex-box(flex, column, center, center);

  width: 100%;

  padding-bottom: 20px;

  border-bottom: 0.6px solid $black;

  .section__image {
    width: 90%;
    height: 270px;

    margin-top: 20px;

    border-left: 50px solid $color-primary;
  }
}

.article__container-description {
  @include flex-box(flex, column, center, flex-start);

  width: 90%;

  margin: 20px 0;

  gap: 20px;

  .article__decoration {
    width: 140px;

    position: absolute;
    top: -2.5rem;
    right: -16px;
  }

  .article__subtitle {
    color: $color-primary;
  }
}

.main__section-video {
  @include flex-box(flex, column, center, center);

  width: 100%;

  margin-top: 50px;

  .section__container {
    @include flex-box(flex, row, center, flex-start);

    gap: 10px;

    min-width: 50%;

    .section__circle {
      min-width: 50px;
      height: 50px;
      background-color: $color-primary;
      border: 1px solid $color-primary;
      border-radius: 50%;
    }

    .section__join-us {
      @include flex-box(flex, column, space-between, flex-start);

      min-width: 222px;

      gap: 16px;

      .section__title {
        @include title(20px, 700);

        width: 209px;
      }

      .section__span {
        color: $color-primary;
      }

      .want-to-participate {
        @include title(12px, 400);
      }
    }
  }
}

.main__section-how-it-works {
  @include flex-box(flex, column, center, center);

  width: 100%;

  margin-top: 50px;

  position: relative;

  .how-it-works__circle {
    animation: spin 12s infinite linear;

    position: absolute;
    top: -60px;
    left: 0;

    @keyframes spin {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  .section__image {
    width: 90%;
    height: 270px;

    margin-top: 20px;

    border-right: 50px solid $color-primary;

    object-fit: cover;
  }
}

.main__our-values {
  border-bottom: 1px solid $black;

  .our-values__container {
    padding: 20px;

    border: 1px solid $black;

    background-color: $color-primary;

    .our-values__communication-and-responsibility {
      display: flex;

      flex-direction: column;

      gap: 20px;

      padding: 20px;

      border: 1px solid $white;

      .our-values__communication {
        @include flex-box(flex, column, flex-start, flex-start);

        width: 60%;

        gap: 10px;

        .our-values__image {
          width: 20px;
          height: 20px;
        }

        .our-values__title {
          font-size: $text-size-1;
          font-weight: $title-weight-1;

          color: $white;
        }

        .our-values__description {
          font-size: $text-size-2;
          color: $white;
        }
      }

      .our-values__responsibility {
        @include flex-box(flex, column, flex-start, flex-start);
        width: 80%;

        margin-left: auto;

        gap: 10px;

        .our-values__image {
          width: 20px;
          height: 20px;
        }

        .our-values__title {
          font-size: $text-size-1;
          font-weight: $title-weight-1;

          color: $white;
        }

        .our-values__description {
          font-size: $text-size-2;

          color: $white;
        }
      }
    }
  }

  .article__container-description {
    padding: 20px 0 20px 15px;

    .article__subtitle {
      color: $black;
    }
  }
}

.main__section-news {
  @include flex-box(flex, column, flex-start, flex-start);

  width: 100%;

  padding: 40px 0;

  .news__text {
    @include flex-box(flex, column, flex-start, flex-start);

    padding: 25px 15px;

    gap: 25px;

    .news__title {
      @include title(16px, 400);
    }

    .news__subtitle {
      @include title(20px, 700);
    }
  }

  .news__list {
    @include flex-box(flex, column, center, center);

    gap: 20px;

    .news__item {
      @include flex-box(flex, column, center, center);

      .news__container {
        @include flex-box(flex, column, flex-start, flex-start);

        width: 90%;

        padding: 20px;

        gap: 25px;

        border: 0.6px solid $black;

        .news__date {
          font-size: $text-size-2;

          font-style: italic;
        }
      }

      .news__button {
        width: 90%;

        padding: 16px 15px;

        gap: 7px;

        text-align: left;

        color: $white;

        background-color: $color-primary;

        .news__arrow {
          padding-left: 7px;
        }
      }
    }
  }
}
