.main__section-carousel {
  @include flex-box(flex, column, flex-start, center);

  width: 100%;

  position: relative;

  background-color: $color-primary;

  .carousel__list {
    width: 100%;

    .carousel__item {
      display: none;
    }

    .carousel__item--visible {
      width: 100%;

      display: flex;
      flex-direction: column;

      animation: fadeVisibility 0.3s;

      .carousel__image {
        width: 100vw;
        height: 350px;

        object-fit: cover;
      }

      .carousel__container {
        @include flex-box(flex, column, center, flex-start);

        width: 90%;

        padding: 20px;

        gap: 20px;

        .carousel__title {
          font-family: "Brown";

          letter-spacing: 3px;

          color: $black;
        }

        .carousel__subtitle {
          @include title(20px, 700);

          font-family: "AirbnbCereal_W_Bd";

          color: $black;
        }

        .carousel__span {
          color: $white;
        }

        .carousel__description {
          font-size: $text-size-1;
        }

        .know-more__container {
          width: 90%;

          display: flex;

          gap: 5px;

          cursor: pointer;

          .know-more__title {
            @include title(15px, 400);

            padding: 8px 11px;

            border: 1px solid $white;
            border-radius: 31px;

            font-family: "Brown";

            color: $white;
          }

          .know-more__figure {
            @include flex-box(flex, row, center, center);

            padding: 8px 11px;

            border: 1px solid $black;
            border-radius: 50%;

            filter: invert(100%);
          }

          &:hover .know-more__title {
            border: 1px solid $black;

            color: $white;

            background-color: $black;

            transition: 1s;
          }

          &:hover .know-more__figure {
            border: 1px solid $white;

            filter: invert(100%);

            background-color: $white;

            transition: 0.8s;
          }
        }
      }

      @keyframes fadeVisibility {
        0% {
          margin-left: 0;
        }

        100% {
          margin-left: 100%;
        }
      }
    }
  }

  .carousel__actions {
    @include flex-box(flex, row, space-evenly, center);

    width: 80%;
    height: 38px;

    position: absolute;
    top: 290px;
    right: 10%;

    .actions__button--prev,
    .actions__button--next {
      @include flex-box(flex, row, center, center);

      width: 35px;
      height: 35px;

      padding: 8px;

      color: $color-primary;

      border: 1px solid $color-primary;

      background-color: transparent;

      cursor: pointer;

      .actions__arrow {
        width: 18px;
        height: 18px;
      }

      &:hover {
        background-color: $color-primary;

        transition: 1s;
      }

      &:hover .actions__arrow {
        fill: $white;

        transition: 1s;
      }

      &:focus {
        color: $white;

        background-color: $color-primary;

        transition: 1s;
      }

      &:focus .actions__arrow {
        fill: $white;

        transition: 1s;
      }
    }

    .actions__button--one,
    .actions__button--two,
    .actions__button--three {
      @include title($title-size-2, 700);

      padding: 8px 13px;

      border: 1px solid $color-primary;
      border-radius: 50%;

      color: $color-primary;

      background-color: transparent;

      cursor: pointer;

      &:hover {
        color: $white;

        background-color: $color-primary;

        transition: 1s;
      }

      &:focus {
        color: $white;

        background-color: $color-primary;

        transition: 1s;
      }
    }

    .line {
      width: 100%;

      height: 0;

      border: 0.6px solid #00a39a;
    }
  }

  .carousel__our-projects {
    @include flex-box(flex, row, center, center);

    width: 100%;

    padding: 30px 0;

    gap: 7px;

    font-family: "Brown";

    border-top: 1px solid $black;

    border-bottom: 1px solid $black;

    color: $white;
  }

  @media (min-width: 760px) {
    padding: 0;

    .carousel__list {
      height: 600px;

      .carousel__item--visible {
        display: flex;
        flex-direction: row-reverse;

        .carousel__image {
          width: 50%;
          height: 600px;
        }

        .carousel__container {
          padding: 80px;

          .carousel__subtitle {
            width: 280px;

            font-size: $title-size-1;
          }
        }
      }
    }

    .carousel__actions {
      width: 38px;
      height: 50%;

      flex-direction: column;
      justify-content: space-evenly;
      gap: 10px;

      position: absolute;
      top: 20%;
      right: 50px;

      .actions__button--prev,
      .actions__button--next {
        .actions__arrow {
          transform: rotate(90deg);
        }
      }
    }

    .line {
      height: 100%;

      width: 0;

      transform: rotate(90deg);
    }
  }
}
