$color-primary: #00a39a;
$white: #ffffff;
$black: #000000;

$font-family-default: "Inter", sans-serif;

$title-size-1: 26px;
$title-size-2: 22px;
$text-size-1: 15px;
$text-size-2: 13px;

$title-weight-1: 700;
