* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-style: none;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  border-bottom: 0.6px solid #000000;
  background-color: #ffffff;
  position: fixed;
  z-index: 3;
}
.header__container .header__figure .header__logo {
  width: 225px;
  height: 78px;
}
.header__container .header__infos {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 15px;
}
.header__container .header__infos .infos__search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 275px;
  border: 0.6px solid #000000;
}
.header__container .header__infos .infos__search .search__input {
  padding-left: 13px;
  border: none;
  outline: none;
}
.header__container .header__infos .infos__search .search__img {
  padding: 10px;
  border-left: 0.6px solid #000000;
  object-fit: cover;
  cursor: pointer;
}
.header__container .header__infos .infos__contacts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 10px;
}
.header__container .header__infos .infos__contacts img:hover {
  filter: invert(100%);
}
.header__container .header__infos .infos__contacts .infos__social-media {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.header__container .header__infos .infos__contacts .contacts__facebook {
  padding: 9px 14px;
  border: 0.6px solid #000000;
  cursor: pointer;
}
.header__container .header__infos .infos__contacts .contacts__facebook:hover {
  background-color: #ffffff;
}
.header__container .header__infos .infos__contacts .contacts__instagram {
  padding: 9px;
  border: 0.6px solid #000000;
  cursor: pointer;
}
.header__container .header__infos .infos__contacts .contacts__instagram:hover {
  background-color: #ffffff;
}
.header__container .header__infos .infos__contacts .contacts__participate {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 15px;
  font-size: 15px;
  color: #ffffff;
  background-color: #00a39a;
  cursor: pointer;
}
.header__container .header__infos .infos__contacts .contacts__participate:hover {
  background-color: #000000;
}
.header__container .header__menu {
  cursor: pointer;
}
.header__container .header__menu .menu__line-one,
.header__container .header__menu .menu__line-two,
.header__container .header__menu .menu__line-three {
  width: 32px;
  height: 2px;
  margin: 8px;
  background-color: #000000;
  transition: 0.3s;
}
.header__container .header__menu.active .menu__line-one {
  transform: rotate(-45deg) translate(-8px, 8px);
}
.header__container .header__menu.active .menu__line-two {
  opacity: 0;
}
.header__container .header__menu.active .menu__line-three {
  transform: rotate(45deg) translate(-5px, -7px);
}
.header__container .header__navigation .navigation__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 82px;
  right: 0;
  gap: 15px;
  background-color: #ffffff;
  transform: translateX(100%);
  transition: transform 0.3s ease-in;
  overflow: auto;
}
.header__container .header__navigation .navigation__list.active {
  transform: translateX(0);
}
@keyframes navItemFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.header__container .header__navigation .navigation__list .navigation__item {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  min-width: max-content;
  padding: 12px;
  font-size: 15px;
  color: #000000;
  opacity: 0;
}

.main__section-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  border-bottom: 0.6px solid #000000;
}
.main__section-intro .section__image {
  min-width: 100%;
  height: 300px;
  object-fit: cover;
}

.article__container-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  margin-bottom: 20px;
  padding: 29px;
  gap: 10px;
  border: 0.6px solid #000000;
}

.article__subtitle {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.article__span {
  color: #00a39a;
}

.article__description {
  font-size: 15px;
}

.know-more__container {
  width: 90%;
  display: flex;
  gap: 5px;
}
.know-more__container .know-more__title {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 13px 15px;
  border: 1px solid #000000;
  border-radius: 31px;
}
.know-more__container .know-more__figure {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 13px;
  border: 1px solid #000000;
  border-radius: 50%;
}

.main__section-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 0.6px solid #000000;
}
.main__section-description .section__image {
  width: 90%;
  height: 270px;
  margin-top: 20px;
  border-left: 50px solid #00a39a;
}

.article__container-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  margin: 20px 0;
  gap: 20px;
}
.article__container-description .article__decoration {
  width: 140px;
  position: absolute;
  top: -2.5rem;
  right: -16px;
}
.article__container-description .article__subtitle {
  color: #00a39a;
}

.main__section-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}
.main__section-video .section__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  min-width: 50%;
}
.main__section-video .section__container .section__circle {
  min-width: 50px;
  height: 50px;
  background-color: #00a39a;
  border: 1px solid #00a39a;
  border-radius: 50%;
}
.main__section-video .section__container .section__join-us {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 222px;
  gap: 16px;
}
.main__section-video .section__container .section__join-us .section__title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  width: 209px;
}
.main__section-video .section__container .section__join-us .section__span {
  color: #00a39a;
}
.main__section-video .section__container .section__join-us .want-to-participate {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.main__section-how-it-works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  position: relative;
}
.main__section-how-it-works .how-it-works__circle {
  animation: spin 12s infinite linear;
  position: absolute;
  top: -60px;
  left: 0;
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.main__section-how-it-works .section__image {
  width: 90%;
  height: 270px;
  margin-top: 20px;
  border-right: 50px solid #00a39a;
  object-fit: cover;
}

.main__our-values {
  border-bottom: 1px solid #000000;
}
.main__our-values .our-values__container {
  padding: 20px;
  border: 1px solid #000000;
  background-color: #00a39a;
}
.main__our-values .our-values__container .our-values__communication-and-responsibility {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 1px solid #ffffff;
}
.main__our-values .our-values__container .our-values__communication-and-responsibility .our-values__communication {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
  gap: 10px;
}
.main__our-values .our-values__container .our-values__communication-and-responsibility .our-values__communication .our-values__image {
  width: 20px;
  height: 20px;
}
.main__our-values .our-values__container .our-values__communication-and-responsibility .our-values__communication .our-values__title {
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
}
.main__our-values .our-values__container .our-values__communication-and-responsibility .our-values__communication .our-values__description {
  font-size: 13px;
  color: #ffffff;
}
.main__our-values .our-values__container .our-values__communication-and-responsibility .our-values__responsibility {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
  margin-left: auto;
  gap: 10px;
}
.main__our-values .our-values__container .our-values__communication-and-responsibility .our-values__responsibility .our-values__image {
  width: 20px;
  height: 20px;
}
.main__our-values .our-values__container .our-values__communication-and-responsibility .our-values__responsibility .our-values__title {
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
}
.main__our-values .our-values__container .our-values__communication-and-responsibility .our-values__responsibility .our-values__description {
  font-size: 13px;
  color: #ffffff;
}
.main__our-values .article__container-description {
  padding: 20px 0 20px 15px;
}
.main__our-values .article__container-description .article__subtitle {
  color: #000000;
}

.main__section-news {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 40px 0;
}
.main__section-news .news__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 25px 15px;
  gap: 25px;
}
.main__section-news .news__text .news__title {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.main__section-news .news__text .news__subtitle {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.main__section-news .news__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.main__section-news .news__list .news__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__section-news .news__list .news__item .news__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
  padding: 20px;
  gap: 25px;
  border: 0.6px solid #000000;
}
.main__section-news .news__list .news__item .news__container .news__date {
  font-size: 13px;
  font-style: italic;
}
.main__section-news .news__list .news__item .news__button {
  width: 90%;
  padding: 16px 15px;
  gap: 7px;
  text-align: left;
  color: #ffffff;
  background-color: #00a39a;
}
.main__section-news .news__list .news__item .news__button .news__arrow {
  padding-left: 7px;
}

.section__container-video {
  width: 100vw;
  margin-top: 50px;
  position: relative;
  background: rgba(54, 62, 30, 0.35);
  mix-blend-mode: normal;
  z-index: 2;
}
.section__container-video .video__background {
  width: 100vw;
  height: 387.56px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.section__container-video .video__background .video__image {
  width: 100vw;
  height: 387.56px;
  object-fit: cover;
}
.section__container-video .video__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 387.56px;
  gap: 20px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(54, 62, 30, 0.35);
}
.section__container-video .video__text .video__play {
  border: none;
  background: none;
}
.section__container-video .video__text .video__title {
  width: 67%;
  text-align: center;
  color: #ffffff;
}
.section__container-video .video__text .video__subtitle {
  color: #ffffff;
}

.main__section-carousel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 193px;
  padding-top: 40px;
  background-color: #00a39a;
}
.main__section-carousel .carousel__container {
  width: 100%;
}
.main__section-carousel .carousel__container .carousel__item .carousel__image {
  width: 100vw;
  height: 350px;
  object-fit: cover;
}
.main__section-carousel .carousel__container .carousel__item .article__container-description {
  width: 90%;
  padding-left: 15px;
}
.main__section-carousel .carousel__container .carousel__item .article__container-description .article__subtitle {
  color: #000000;
}
.main__section-carousel .carousel__container .carousel__item .article__container-description .article__span {
  color: #ffffff;
}
.main__section-carousel .carousel__container .carousel__item .article__container-description .know-more__container .know-more__title {
  border: 1px solid #ffffff;
  color: #ffffff;
}
.main__section-carousel .carousel__container .carousel__item .article__container-description .know-more__container .know-more__figure {
  filter: invert(100%);
}
.main__section-carousel .carousel__our-projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 0;
  gap: 7px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  color: #ffffff;
}

/*# sourceMappingURL=styles.css.map */
