* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-style: none;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 7px;
}
body::-webkit-scrollbar-track {
  background-color: #ffffff;
}
body::-webkit-scrollbar-thumb {
  border: 3px solid #00a39a;
  border-radius: 20px;
  background-color: #00a39a;
}

.max-width {
  max-width: 1550px;
}

@font-face {
  font-family: "AirbnbCereal_W_Bd";
  src: url("../../assets/fonts/AirbnbCereal_W_Bd.otf") format("opentype");
}
@font-face {
  font-family: "Brown";
  src: url("../../assets/fonts/BrownRegular.ttf") format("truetype");
}
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 10px;
  border-bottom: 0.6px solid #000000;
  background-color: #ffffff;
}
.header__container .header__figure {
  width: 50%;
}
.header__container .header__figure .header__logo {
  width: 225px;
  height: 78px;
}
.header__container .header__infos {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 15px;
}
.header__container .header__infos .infos__search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 45%;
  border: 0.6px solid #000000;
}
.header__container .header__infos .infos__search .search__input {
  padding-left: 13px;
  border: none;
  outline: none;
}
.header__container .header__infos .infos__search .search__image {
  padding: 10px;
  border-left: 0.6px solid #000000;
  object-fit: cover;
  cursor: pointer;
}
.header__container .header__infos .infos__contacts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 10px;
}
.header__container .header__infos .infos__contacts img:hover {
  filter: invert(100%);
}
.header__container .header__infos .infos__contacts .contacts__facebook {
  padding: 9px 14px;
  border: 0.6px solid #000000;
  cursor: pointer;
}
.header__container .header__infos .infos__contacts .contacts__facebook:hover {
  background-color: #ffffff;
}
.header__container .header__infos .infos__contacts .contacts__instagram {
  padding: 9px;
  border: 0.6px solid #000000;
  cursor: pointer;
}
.header__container .header__infos .infos__contacts .contacts__instagram:hover {
  background-color: #ffffff;
}
.header__container .header__infos .infos__contacts .contacts__participate {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 15px;
  font-size: 14px;
  color: #ffffff;
  background-color: #00a39a;
  cursor: pointer;
}
.header__container .header__infos .infos__contacts .contacts__participate:hover {
  background-color: #000000;
}
.header__container .header__menu {
  cursor: pointer;
}
.header__container .header__menu .menu__line-one,
.header__container .header__menu .menu__line-two,
.header__container .header__menu .menu__line-three {
  width: 32px;
  height: 2px;
  margin: 8px;
  background-color: #000000;
  transition: 0.3s;
}
.header__container .header__menu.active .menu__line-one {
  transform: rotate(-45deg) translate(-8px, 8px);
}
.header__container .header__menu.active .menu__line-two {
  opacity: 0;
}
.header__container .header__menu.active .menu__line-three {
  transform: rotate(45deg) translate(-5px, -7px);
}
.header__container .header__navigation .navigation__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  min-height: 100vh;
  padding-top: 20px;
  gap: 20px;
  position: absolute;
  top: 82px;
  right: 0;
  border-top: 0.6px solid #000000;
  background-color: #ffffff;
  transform: translateX(100%);
  transition: transform 0.3s ease-in;
  overflow: auto;
  z-index: 1;
}
.header__container .header__navigation .navigation__list.active {
  transform: translateX(0);
}
@keyframes navItemFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.header__container .header__navigation .navigation__list .navigation__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  width: max-content;
  padding: 0 12px;
  font-size: 14px;
  color: #000000;
  opacity: 0;
}
.header__container .header__navigation .navigation__list .navigation__item .dropdown__list {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header__container .header__navigation .navigation__list .navigation__item .dropdown__list .dropdown__item {
  padding-left: 30px;
}
@media (min-width: 760px) {
  .header__container {
    padding: 10px 20px;
    position: relative;
  }
  .header__container .header__infos {
    display: flex;
    justify-content: space-between;
  }
  .header__container .header__infos .infos__contacts {
    margin: 0;
  }
  .header__container .header__infos .infos__contacts .contacts__participate {
    width: max-content;
  }
  .header__container .header__navigation .navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 50px;
    padding: 0;
    top: 100px;
    border: 0.6px solid #000000;
    text-align: center;
    background-color: #00a39a;
    transform: translateX(0%);
    overflow: unset;
  }
  .header__container .header__navigation .navigation__list .navigation__item {
    font-weight: 500;
    height: 50px;
    position: relative;
    color: #ffffff;
    opacity: 1;
    cursor: pointer;
    z-index: 2;
  }
  .header__container .header__navigation .navigation__list .navigation__item .dropdown__list {
    display: none;
  }
  .header__container .header__navigation .navigation__list .navigation__item:hover {
    color: #000000;
    transition: 1s;
  }
  .header__container .header__navigation .navigation__list .navigation__item:hover .dropdown__list {
    width: 100%;
    display: flex;
    padding-top: 0;
    gap: 0;
    position: absolute;
    top: 50.5px;
    left: 0;
    color: #ffffff;
    background-color: #00a39a;
  }
  .header__container .header__navigation .navigation__list .navigation__item:hover .dropdown__list .dropdown__item {
    padding: 15px 20px;
  }
  .header__container .header__menu {
    width: 0;
    display: none;
  }
}
@media (min-width: 1000px) {
  .header__container {
    padding: 10px 80px;
    transition: 1s;
  }
}

.main__container {
  background: #ffffff;
  z-index: 10;
}
.main__container .main__section-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  border-bottom: 0.6px solid #000000;
}
.main__container .main__section-intro .intro__image {
  min-width: 100%;
  height: 400px;
  object-fit: cover;
}
.main__container .main__section-intro .intro__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  margin-bottom: 20px;
  padding: 29px;
  gap: 20px;
  border: 0.6px solid #000000;
}
.main__container .main__section-intro .intro__container .intro__title {
  font-family: "Brown";
  letter-spacing: 3px;
}
.main__container .main__section-intro .intro__container .intro__subtitle {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "AirbnbCereal_W_Bd";
}
.main__container .main__section-intro .intro__container .intro__span {
  color: #00a39a;
}
.main__container .main__section-intro .intro__container .intro__description {
  font-size: 14px;
}
.main__container .main__section-intro .intro__container .know-more__container {
  width: 90%;
  display: flex;
  gap: 5px;
}
.main__container .main__section-intro .intro__container .know-more__container .know-more__title {
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 8px 15px;
  border: 1px solid #000000;
  border-radius: 31px;
  font-family: "Brown";
}
.main__container .main__section-intro .intro__container .know-more__container .know-more__figure {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 13px;
  border: 1px solid #000000;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .main__container .main__section-intro {
    width: 100%;
    height: 650px;
    margin-top: 20px;
    flex-direction: row-reverse;
  }
  .main__container .main__section-intro .intro__image {
    min-width: 50%;
    height: 100%;
    margin-left: auto;
    object-fit: cover;
  }
  .main__container .main__section-intro .intro__container {
    max-width: 600px;
    min-height: 80%;
    margin-left: 10px;
  }
  .main__container .main__section-intro .intro__container .intro__subtitle {
    max-width: 408px;
    font-size: 30px;
  }
}
@media (min-width: 1400px) {
  .main__container .main__section-intro .intro__container {
    margin: 0 auto;
  }
}

.main__section-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 0.6px solid #000000;
}
.main__section-description .description__image {
  width: 90%;
  height: 270px;
  margin-top: 20px;
  border-left: 50px solid #00a39a;
  object-fit: cover;
  object-position: center;
}
.main__section-description .description__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  margin: 20px 0;
  gap: 20px;
}
.main__section-description .description__container .description__decoration {
  display: none;
}
.main__section-description .description__container .description__title {
  font-family: "Brown";
  letter-spacing: 3px;
}
.main__section-description .description__container .description__subtitle {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "AirbnbCereal_W_Bd";
  color: #00a39a;
}
.main__section-description .description__container .description__text {
  font-size: 14px;
}
.main__section-description .description__container .know-more__container {
  width: 90%;
  display: flex;
  gap: 5px;
}
.main__section-description .description__container .know-more__container .know-more__title {
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 8px 15px;
  border: 1px solid #000000;
  border-radius: 31px;
  font-family: "Brown";
}
.main__section-description .description__container .know-more__container .know-more__figure {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 13px;
  border: 1px solid #000000;
  border-radius: 50%;
}
@media (min-width: 760px) {
  .main__section-description {
    padding: 80px 0;
    flex-direction: row;
    gap: 10px;
    position: relative;
  }
  .main__section-description .description__image {
    width: 40%;
    height: 380px;
    margin: 0 15px;
  }
  .main__section-description .description__container {
    max-width: 560px;
    height: 350px;
    margin: 0 20px;
    justify-content: space-between;
    gap: 11px;
  }
  .main__section-description .description__container .description__subtitle {
    width: 332px;
    font-size: 30px;
  }
}
@media (min-width: 900px) {
  .main__section-description .description__container .description__decoration {
    display: flex;
    position: absolute;
    top: 80px;
    right: 0;
  }
}

.main__section-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}
.main__section-video .video__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  min-width: 50%;
  gap: 10px;
}
.main__section-video .video__container .video__join-us {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 222px;
  gap: 16px;
}
.main__section-video .video__container .video__join-us .video__title {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "AirbnbCereal_W_Bd";
  max-width: 285px;
}
.main__section-video .video__container .video__join-us .video__span {
  font-family: "AirbnbCereal_W_Bd";
  color: #00a39a;
}
.main__section-video .video__container .video__join-us .know-more__container {
  width: 90%;
  display: flex;
  gap: 5px;
}
.main__section-video .video__container .video__join-us .know-more__container .know-more__title {
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 8px 7px;
  border: 1px solid #000000;
  border-radius: 31px;
  font-family: "Brown";
}
.main__section-video .video__container .video__join-us .know-more__container .know-more__figure {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 13px;
  border: 1px solid #000000;
  border-radius: 50%;
}
.main__section-video .video__container-background {
  width: 100vw;
  margin-top: 50px;
  position: relative;
  background: rgba(54, 62, 30, 0.35);
  mix-blend-mode: normal;
  z-index: 2;
}
.main__section-video .video__container-background .video__background {
  width: 100vw;
  height: 387.56px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.main__section-video .video__container-background .video__background .video__image {
  width: 100vw;
  height: 387.56px;
  object-fit: cover;
}
.main__section-video .video__container-background .video__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 387.56px;
  gap: 20px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(54, 62, 30, 0.35);
}
.main__section-video .video__container-background .video__text .video__play {
  border: none;
  background: none;
}
.main__section-video .video__container-background .video__text .video__title {
  width: 67%;
  text-align: center;
  color: #ffffff;
}
.main__section-video .video__container-background .video__text .video__subtitle {
  color: #ffffff;
}
@media (min-width: 760px) {
  .main__section-video .video__container .video__join-us .video__title {
    font-size: 30px;
  }
  .main__section-video .video__container-background .video__background {
    height: 600px;
  }
  .main__section-video .video__container-background .video__background .video__image {
    height: 600px;
  }
  .main__section-video .video__container-background .video__text {
    height: 600px;
  }
}
@media (min-width: 1000px) {
  .main__section-video .video__container-background .video__background {
    height: 700px;
  }
  .main__section-video .video__container-background .video__background .video__image {
    height: 700px;
  }
  .main__section-video .video__container-background .video__text {
    height: 700px;
  }
}

.main__section-carousel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 193px;
  padding-top: 40px;
  position: relative;
  background-color: #00a39a;
}
.main__section-carousel .carousel__list {
  width: 100%;
}
.main__section-carousel .carousel__list .carousel__item {
  display: none;
}
.main__section-carousel .carousel__list .carousel__item--visible {
  width: 100%;
  display: flex;
  flex-direction: column;
  animation: fadeVisibility 0.3s;
}
.main__section-carousel .carousel__list .carousel__item--visible .carousel__image {
  width: 100vw;
  height: 350px;
  object-fit: cover;
}
.main__section-carousel .carousel__list .carousel__item--visible .carousel__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  padding: 20px;
  gap: 20px;
}
.main__section-carousel .carousel__list .carousel__item--visible .carousel__container .carousel__title {
  font-family: "Brown";
  letter-spacing: 3px;
  color: #000000;
}
.main__section-carousel .carousel__list .carousel__item--visible .carousel__container .carousel__subtitle {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "AirbnbCereal_W_Bd";
  color: #000000;
}
.main__section-carousel .carousel__list .carousel__item--visible .carousel__container .carousel__span {
  color: #ffffff;
}
.main__section-carousel .carousel__list .carousel__item--visible .carousel__container .carousel__description {
  font-size: 14px;
}
.main__section-carousel .carousel__list .carousel__item--visible .carousel__container .know-more__container {
  width: 90%;
  display: flex;
  gap: 5px;
}
.main__section-carousel .carousel__list .carousel__item--visible .carousel__container .know-more__container .know-more__title {
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 8px 15px;
  border: 1px solid #ffffff;
  border-radius: 31px;
  font-family: "Brown";
  color: #ffffff;
}
.main__section-carousel .carousel__list .carousel__item--visible .carousel__container .know-more__container .know-more__figure {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 13px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}
.main__section-carousel .carousel__list .carousel__item--visible .carousel__container .know-more__container .know-more__figure .know-more__image {
  filter: invert(100%);
}
@keyframes fadeVisibility {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 100%;
  }
}
.main__section-carousel .carousel__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 38px;
  position: absolute;
  top: 324px;
  right: 25%;
}
.main__section-carousel .carousel__actions .actions__button--prev,
.main__section-carousel .carousel__actions .actions__button--next {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  padding: 8px;
  color: #00a39a;
  border: 1px solid #00a39a;
  background-color: transparent;
  cursor: pointer;
}
.main__section-carousel .carousel__actions .actions__button--prev .actions__arrow,
.main__section-carousel .carousel__actions .actions__button--next .actions__arrow {
  width: 18px;
  height: 18px;
}
.main__section-carousel .carousel__actions .actions__button--prev:hover,
.main__section-carousel .carousel__actions .actions__button--next:hover {
  background-color: #00a39a;
  transition: 1s;
}
.main__section-carousel .carousel__actions .actions__button--prev:hover .actions__arrow,
.main__section-carousel .carousel__actions .actions__button--next:hover .actions__arrow {
  fill: #ffffff;
  transition: 1s;
}
.main__section-carousel .carousel__actions .actions__button--prev:focus,
.main__section-carousel .carousel__actions .actions__button--next:focus {
  color: #ffffff;
  background-color: #00a39a;
  transition: 1s;
}
.main__section-carousel .carousel__actions .actions__button--prev:focus .actions__arrow,
.main__section-carousel .carousel__actions .actions__button--next:focus .actions__arrow {
  fill: #ffffff;
  transition: 1s;
}
.main__section-carousel .carousel__actions .actions__button--one,
.main__section-carousel .carousel__actions .actions__button--two,
.main__section-carousel .carousel__actions .actions__button--three {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 13px;
  border: 1px solid #00a39a;
  border-radius: 50%;
  color: #00a39a;
  background-color: transparent;
  cursor: pointer;
}
.main__section-carousel .carousel__actions .actions__button--one:hover,
.main__section-carousel .carousel__actions .actions__button--two:hover,
.main__section-carousel .carousel__actions .actions__button--three:hover {
  color: #ffffff;
  background-color: #00a39a;
  transition: 1s;
}
.main__section-carousel .carousel__actions .actions__button--one:focus,
.main__section-carousel .carousel__actions .actions__button--two:focus,
.main__section-carousel .carousel__actions .actions__button--three:focus {
  color: #ffffff;
  background-color: #00a39a;
  transition: 1s;
}
.main__section-carousel .carousel__actions .line {
  width: 100%;
  height: 0;
  border: 0.6px solid #00a39a;
}
.main__section-carousel .carousel__our-projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 0;
  gap: 7px;
  font-family: "Brown";
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  color: #ffffff;
}
@media (min-width: 760px) {
  .main__section-carousel {
    margin-top: 445px;
    padding: 0;
  }
  .main__section-carousel .carousel__list {
    height: 600px;
  }
  .main__section-carousel .carousel__list .carousel__item--visible {
    display: flex;
    flex-direction: row-reverse;
  }
  .main__section-carousel .carousel__list .carousel__item--visible .carousel__image {
    width: 50%;
    height: 600px;
  }
  .main__section-carousel .carousel__list .carousel__item--visible .carousel__container {
    padding: 80px;
  }
  .main__section-carousel .carousel__list .carousel__item--visible .carousel__container .carousel__subtitle {
    width: 280px;
    font-size: 30px;
  }
  .main__section-carousel .carousel__actions {
    width: 38px;
    height: 50%;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    position: absolute;
    top: 20%;
    right: 50px;
  }
  .main__section-carousel .carousel__actions .actions__button--prev .actions__arrow,
  .main__section-carousel .carousel__actions .actions__button--next .actions__arrow {
    transform: rotate(90deg);
  }
  .main__section-carousel .line {
    height: 100%;
    width: 0;
    transform: rotate(90deg);
  }
}
@media (min-width: 1000px) {
  .main__section-carousel {
    margin-top: 545px;
  }
}

.main__section-how-it-works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  position: relative;
}
.main__section-how-it-works .how-it-works__circle {
  animation: spin 12s infinite linear;
  position: absolute;
  top: -60px;
  left: 0;
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.main__section-how-it-works .how-it-works__image {
  width: 90%;
  height: 270px;
  margin-top: 20px;
  border-right: 50px solid #00a39a;
  object-fit: cover;
}
.main__section-how-it-works .how-it-works__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  margin: 20px 0;
  gap: 20px;
}
.main__section-how-it-works .how-it-works__container .how-it-works__title {
  font-family: "Brown";
  letter-spacing: 3px;
}
.main__section-how-it-works .how-it-works__container .how-it-works__subtitle {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "AirbnbCereal_W_Bd";
  color: #00a39a;
}
.main__section-how-it-works .how-it-works__container .how-it-works__description {
  font-size: 14px;
}
.main__section-how-it-works .how-it-works__container .know-more__container {
  width: 90%;
  display: flex;
  gap: 5px;
}
.main__section-how-it-works .how-it-works__container .know-more__container .know-more__title {
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 8px 15px;
  border: 1px solid #000000;
  border-radius: 31px;
  font-family: "Brown";
}
.main__section-how-it-works .how-it-works__container .know-more__container .know-more__figure {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 13px;
  border: 1px solid #000000;
  border-radius: 50%;
}
@media (min-width: 760px) {
  .main__section-how-it-works {
    max-height: 500px;
    margin: 0;
    padding: 70px;
    flex-direction: row-reverse;
    gap: 50px;
  }
  .main__section-how-it-works .how-it-works__circle {
    width: 130px;
    top: 12px;
    left: -2px;
    transition: 1s;
  }
  .main__section-how-it-works .how-it-works__figure {
    position: relative;
  }
  .main__section-how-it-works .how-it-works__image {
    width: 350px;
    height: 360px;
  }
  .main__section-how-it-works .how-it-works__container {
    width: 50%;
    align-items: end;
  }
  .main__section-how-it-works .how-it-works__container .how-it-works__subtitle {
    max-width: 365px;
    text-align: end;
  }
  .main__section-how-it-works .how-it-works__container .how-it-works__title {
    text-align: end;
  }
  .main__section-how-it-works .how-it-works__container .how-it-works__description {
    text-align: end;
  }
  .main__section-how-it-works .know-more__container {
    justify-content: end;
  }
}
@media (min-width: 850px) {
  .main__section-how-it-works .how-it-works__image {
    min-width: 435px;
    max-width: 435px;
    height: 360px;
  }
}
@media (min-width: 1000px) {
  .main__section-how-it-works {
    padding: 50px 55px;
  }
  .main__section-how-it-works .how-it-works__circle {
    width: 180px;
    top: 15px;
    left: 20px;
  }
  .main__section-how-it-works .how-it-works__container {
    max-width: 455px;
  }
  .main__section-how-it-works .how-it-works__container .how-it-works__subtitle {
    font-size: 30px;
  }
}
@media (min-width: 1050px) {
  .main__section-how-it-works {
    padding: 50px 55px 0;
  }
}

@media (min-width: 1050px) {
  .square {
    display: flex;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    background-color: #00a39a;
    border: 0.6px solid #000000;
  }
}
.main__section-our-values {
  max-width: 1350px;
  border-bottom: 1px solid #000000;
  margin: 0 auto;
}
.main__section-our-values .our-values__container {
  padding: 20px;
  border: 1px solid #000000;
  background-color: #00a39a;
  height: 450px;
}
.main__section-our-values .our-values__container .our-values__communication-and-responsibility {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px 40px;
  gap: 20px;
  padding: 20px;
  border: 1px solid #ffffff;
}
.main__section-our-values .our-values__container .our-values__communication-and-responsibility .our-values__communication {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
  gap: 10px;
}
.main__section-our-values .our-values__container .our-values__communication-and-responsibility .our-values__communication .our-values__image {
  width: 20px;
  height: 20px;
}
.main__section-our-values .our-values__container .our-values__communication-and-responsibility .our-values__communication .our-values__title {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}
.main__section-our-values .our-values__container .our-values__communication-and-responsibility .our-values__communication .our-values__description {
  max-width: 270px;
  font-size: 14px;
  color: #ffffff;
}
.main__section-our-values .our-values__container .our-values__communication-and-responsibility .our-values__responsibility {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: auto;
  padding-left: 50px;
  gap: 10px;
}
.main__section-our-values .our-values__container .our-values__communication-and-responsibility .our-values__responsibility .our-values__image {
  width: 20px;
  height: 20px;
}
.main__section-our-values .our-values__container .our-values__communication-and-responsibility .our-values__responsibility .our-values__title {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}
.main__section-our-values .our-values__container .our-values__communication-and-responsibility .our-values__responsibility .our-values__description {
  max-width: 252px;
  font-size: 14px;
  color: #ffffff;
}
.main__section-our-values .our-values__article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
  padding: 40px 0 40px 15px;
  gap: 20px;
}
.main__section-our-values .our-values__article .our-values__title {
  font-family: "Brown";
  letter-spacing: 3px;
}
.main__section-our-values .our-values__article .our-values__subtitle {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "AirbnbCereal_W_Bd";
  color: #000000;
}
.main__section-our-values .our-values__article .our-values__description {
  font-size: 14px;
}
@media (min-width: 570px) {
  .main__section-our-values .our-values__container .our-values__communication-and-responsibility .our-values__responsibility {
    padding-right: 50px;
  }
}
@media (min-width: 760px) {
  .main__section-our-values {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 400px;
    gap: 50px;
    transition: 1s;
  }
  .main__section-our-values .our-values__container {
    width: 49.5%;
    max-width: 639px;
    height: 100%;
  }
  .main__section-our-values .our-values__container .our-values__communication-and-responsibility {
    height: 100%;
    justify-content: center;
  }
  .main__section-our-values .our-values__container .our-values__communication-and-responsibility .our-values__communication {
    width: 100%;
  }
  .main__section-our-values .our-values__article {
    width: 50.5%;
    max-width: 550px;
    padding-right: 60px;
  }
  .main__section-our-values .our-values__article .our-values__subtitle {
    max-width: 332px;
    font-size: 30px;
  }
}
@media (min-width: 1050px) {
  .main__section-our-values {
    height: 500px;
  }
  .main__section-our-values .our-values__container {
    padding: 40px;
    transition: 1s;
  }
  .main__section-our-values .our-values__container .our-values__communication-and-responsibility .our-values__communication {
    padding-left: 50px;
  }
  .main__section-our-values .our-values__article {
    gap: 35px;
  }
}
@media (min-width: 1130px) {
  .main__section-our-values .our-values__container {
    width: 47.4%;
  }
  .main__section-our-values .our-values__article {
    width: 52.6%;
  }
}

.main__section-news {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 20px 0;
}
.main__section-news .news__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 25px 15px 45px;
  gap: 25px;
}
.main__section-news .news__text .news__title {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Brown";
  letter-spacing: 3px;
}
.main__section-news .news__text .news__subtitle {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 280px;
  font-family: "AirbnbCereal_W_Bd";
}
.main__section-news .news__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.main__section-news .news__list .news__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}
.main__section-news .news__list .news__item .news__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  gap: 25px;
  border: 0.6px solid #000000;
}
.main__section-news .news__list .news__item .news__container .news__date {
  font-size: 13px;
  font-style: italic;
}
.main__section-news .news__list .news__item .news__button {
  width: 100%;
  padding: 16px 15px;
  text-align: left;
  color: #ffffff;
  background-color: #00a39a;
}
.main__section-news .news__list .news__item .news__button .news__arrow {
  padding-left: 7px;
}
@media (min-width: 760px) {
  .main__section-news {
    padding: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .main__section-news .news__text .news__subtitle {
    max-width: 280px;
    font-size: 30px;
  }
  .main__section-news .news__list {
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: auto;
  }
  .main__section-news .news__list .news__item {
    padding: 0;
  }
  .main__section-news .news__list .news__item .news__container {
    width: 260px;
  }
  .main__section-news .news__list .news__item .news__container .news__image {
    max-width: 150px;
    height: 28px;
  }
}

.main__section-form {
  width: 100%;
  background-color: #000000;
}
.main__section-form .form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px 15px;
  gap: 25px;
}
.main__section-form .form__container .form__decoration {
  display: none;
}
.main__section-form .form__container .form__title {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Brown";
  letter-spacing: 3px;
  color: #ffffff;
}
.main__section-form .form__container .form__subtitle {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "AirbnbCereal_W_Bd";
  text-align: center;
  color: #ffffff;
}
.main__section-form .form__container .form__description {
  text-align: center;
  color: #ffffff;
}
.main__section-form .form__container .form__span {
  color: #00a39a;
}
.main__section-form .form__container .form__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.main__section-form .form__container .form__contacts .contacts__input {
  width: 100%;
  padding: 14px 0 14px 15px;
  border: 1px solid #ffffff;
  background-color: transparent;
}
.main__section-form .form__container .form__contacts .contacts__input::placeholder {
  color: #ffffff;
}
.main__section-form .form__container .form__textarea {
  width: 100%;
  padding: 14px 0 14px 15px;
  border: 1px solid #ffffff;
  background-color: transparent;
  resize: none;
}
.main__section-form .form__container .form__textarea::placeholder {
  color: #ffffff;
}
.main__section-form .form__container .form__button {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  width: 250px;
  margin-left: auto;
  padding: 13px;
  border: 1px solid #00a39a;
  color: #ffffff;
  background-color: #00a39a;
  cursor: pointer;
}
@media (min-width: 760px) {
  .main__section-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .main__section-form .form__container {
    width: 84%;
  }
  .main__section-form .form__container .form__decoration {
    display: flex;
    position: absolute;
    top: 70px;
    left: 0;
  }
  .main__section-form .form__container .form__contacts {
    width: 100%;
    flex-direction: row;
  }
  .main__section-form .form__container .form__subtitle {
    max-width: 300px;
    font-size: 30px;
  }
  .main__section-form .form__container .form__description {
    max-width: 500px;
  }
  .main__section-form .form__container .form__textarea {
    width: 100%;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footer__container .footer__baseboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
}
.footer__container .footer__baseboard .footer__information {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px 0;
  gap: 30px;
  border-bottom: 0.6px solid #000000;
}
.footer__container .footer__baseboard .footer__information .information__menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 13px;
}
.footer__container .footer__baseboard .footer__information .information__menu .information__item-title {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.footer__container .footer__baseboard .footer__information .information__menu .information__item {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.footer__container .footer__baseboard .footer__news-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 560px;
  padding: 40px 0;
  gap: 16px;
}
.footer__container .footer__baseboard .footer__news-form .news-form__title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "AirbnbCereal_W_Bd";
  color: #00a39a;
}
.footer__container .footer__baseboard .footer__news-form .news-form__input {
  width: 100%;
  padding: 14px 0;
  border: none;
  border-bottom: 0.6px solid #000000;
  background-color: transparent;
  outline: none;
}
.footer__container .footer__baseboard .footer__news-form .news-form__checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.footer__container .footer__baseboard .footer__news-form .news-form__checkbox .checkbox__label {
  font-size: 13px;
}
.footer__container .footer__baseboard .footer__news-form .news-form__checkbox .checkbox__span {
  text-decoration: underline;
}
.footer__container .footer__baseboard .footer__news-form .news-form__button {
  width: 100%;
  padding: 13px;
  border: 0.6px solid #000000;
  font-family: "Brown";
  background-color: #ffffff;
  cursor: pointer;
}
.footer__container .footer__baseboard .footer__back {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 13px 0 30px;
  border: none;
  font-family: "Brown";
  background-color: transparent;
}
.footer__container .footer__baseboard .footer__back .back__start {
  color: #000000;
}
.footer__container .footer__baseboard .footer__back .back__image {
  padding-left: 7px;
}
.footer__container .footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 15px;
  gap: 7px;
  border-top: 0.6px solid #000000;
}
.footer__container .footer__copyright .copyright__description {
  font-family: "Brown";
  font-size: 10px;
  font-weight: 400;
}
.footer__container .footer__copyright .copyright__developed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Brown";
  gap: 7px;
}
@media (min-width: 760px) {
  .footer__container .footer__baseboard {
    flex-direction: row;
  }
  .footer__container .footer__baseboard .footer__information {
    height: 463px;
    padding: 70px 30px 70px 0;
    flex-direction: row;
    gap: 50px;
    border-bottom: none;
    border-right: 0.6px solid #000000;
  }
  .footer__container .footer__baseboard .footer__information .information__menu {
    max-width: 412px;
  }
  .footer__container .footer__baseboard .footer__information .information__menu .information__item {
    min-width: 120px;
    max-width: 435px;
  }
  .footer__container .footer__baseboard .footer__information .fao {
    min-width: 154px;
  }
  .footer__container .footer__baseboard .footer__news-form {
    max-width: 400px;
    padding: 70px 50px;
  }
  .footer__container .footer__baseboard .footer__news-form .news-form__title {
    max-width: 280px;
    font-size: 24px;
  }
  .footer__container .footer__baseboard .footer__back {
    padding: 70px 0;
  }
  .footer__container .footer__copyright {
    padding: 20px 50px;
  }
}

/*# sourceMappingURL=styles.css.map */
